
@using Core.Entity;
@{
    ViewBag.Title = "index1";
    Layout = "~/Views/Shared/_moblieLayout.cshtml";
    List<HuoDong> model = Model as List<Core.Entity.HuoDong>;
}

<div class="header-logo">
    <!--- 开头 ---->
    <div style="width:100%; height:40px; background-color:#00a2ac">
        <div style=" width:60%; height:30px; float:left; padding-top:9px;">
            <div align="right" class="STYLE1"><font color="#FFFFFF" face="黑体">线下活动</font> </div>
        </div>
        <div style=" width:36%; height:30px; float:left;padding-top:9px;">
            <div align="right"><a href=""><img src="@Url.Content("~/Content/images/申请活动.png")" height="25" width="66" /></a></div>
        </div>
    </div>
    <div style="width:100%; height:250px; padding-top:0px;background-color:#00a2ac">
        <img src="@Url.Content("~/Content/images/11_07.png")" width="360" height="250" />
    </div>
    <!--- 选择---->
    <div style="width:100%; height:40px;">

        <div style="width:100%; height:40px; float:left;background-color:#aaaaaa;">
            <div align="center" class="STYLE2" style="padding-top:11px;"><font color="#000000" face="黑体">场地筛选</font> </div>
        </div>
    </div>

        @foreach (var item in model)
        {

            <div style="width:100%; height:130px; padding-bottom:12px">
               
                    <div style="width:30%; height:116px;float:left; padding-top:12px; padding-left:2px"><img src="@Url.Content("~"+ (item.Images== null ? "/Content/images/心愿1.png" :"/Upload/"+Common.Util.FileHandler.getUrl(item.Images[0].FileAddress)))" /> </div>
                    <div style="width:60%; height:116px;float:left; padding-top:12px; padding-left:15px">
                        <div style="width:100%; height:50px; padding-top:10px">
                            <div class="STYLE1" style="width:100%; height:50px;float:left;padding-top:5px">
                                <div align="left" class="STYLE2"><font color="#000000" face="黑体"><a href="@Url.Action("Index7","Mobile",new {Id = item.Id})"> @item.Title</a></font></div>
                            </div>
                        </div>
                        <div style="width:100%; height:20px; padding-top:5px">
                            <div class="STYLE1" style="width:100%; height:20px;float:left;">
                                <div align="left" class="STYLE5 STYLE8"><font face="黑体">状态：<span class="STYLE6">@item.StateExp</span>   关注：<span class="STYLE6">@item.Attion.Count</span>人</font></div>
                            </div>
                        </div>
                        <div style="width:100%; height:20px; padding-top:15px">
                            <div class="STYLE1" style="width:100%; height:20px;float:left;">
                                <div align="left" class="STYLE5 STYLE8"><font face="黑体">活动日期：@item.StartTime - @item.EndTime </font></div>
                            </div>
                        </div>
                    </div>
                
            </div>

            <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=1)" width="100%" color=#c3c3c3 SIZE=1>
        }
 
   
   


</div>

@section scripts {
    <script>
        OP_CONFIG.module = 'mobile';
        OP_CONFIG.page = 'index';
        AppId= '@ViewBag.AppId';
        Timestamp ='@ViewBag.Timestamp';
        NonceStr = '@ViewBag.NonceStr';
        Signature = '@ViewBag.Signature';
    </script>
<script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.js"></script>


}