@{
    ViewBag.Title = "index3";
    Layout = "~/Views/Shared/_moblieLayout.cshtml";
}

<div class="header-logo">
    <!--- 开头 ---->
    <div style="width:100%; height:40px; background-color:#00a2ac">
        <div style=" width:100%; height:30px; float:left; padding-top:9px;">
            <div align="right" class="STYLE1">
                <div align="center"><font color="#FFFFFF" face="黑体">我</font> </div>
            </div>
        </div>

    </div>
    <div style="width:100%; height:235px; padding-top:5px">
        <div style="width:48%; height:235px; float:left; background-color:#ca7006; margin-left:4px;">
            <div style="width:100%; height:62px; margin-top:80px"><img src="@Url.Content("~/Content/images/群组.png")" width="60" height="62" /></div>
            <div class="STYLE4" style="width:100%; height:62px; margin-top:10px"><font color="#FFFFFF" face="黑体">我的社群</font></div>
        </div>
        <div style="width:48%; height:235px; float:left; background-color:#b32121; margin-left:4px; ">
            <div style="width:100%; height:62px; margin-top:80px"><img src="@Url.Content("~/Content/images/关注1.png")" width="60" height="62" /></div>
            <div class="STYLE4" style="width:100%; height:62px; margin-top:10px"><font color="#FFFFFF" face="黑体">我的关注</font></div>
        </div>
    </div>
    <div style="width:100%; height:235px; padding-top:5px">
        <div style="width:48%; height:235px; float:left; background-color:#69ac00; margin-left:4px;">
            <div style="width:100%; height:62px; margin-top:80px"><img src="@Url.Content("~/Content/images/参与.png")" width="60" height="62" /></div>
            <div class="STYLE4" style="width:100%; height:62px; margin-top:10px"><font color="#FFFFFF" face="黑体">我的参与</font></div>
        </div>
        <div style="width:48%; height:235px; float:left; background-color:#0049ac; margin-left:4px; ">
            <div style="width:100%; height:62px; margin-top:80px"><img src="@Url.Content("~/Content/images/意见.png")" width="60" height="62" /></div>
            <div class="STYLE4" style="width:100%; height:62px; margin-top:10px"><font color="#FFFFFF" face="黑体">意见反馈</font></div>
        </div>
    </div>


    <div style="width:100%; height:47px;padding-top:5px"></div>


</div>

@section scripts {
    <script>
        OP_CONFIG.module = 'mobile';
        OP_CONFIG.page = 'index';
        AppId= '@ViewBag.AppId';
        Timestamp ='@ViewBag.Timestamp';
        NonceStr = '@ViewBag.NonceStr';
        Signature = '@ViewBag.Signature';


    </script>

}